/* Universal styles */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 24px;
    margin-right: 24px;
    color: #222222;
}
/* Header Section */
.desktop-header { 
    display: flex;
    position: fixed;
    height: 64px;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: white;
    Top: 0;
    background-color: white;
}

.desktop-header img {
    height: 40px;
}

.desktop-header h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
}
.desktop-header h1 span {
     font-weight: bold;
 }

 .mobile-header {
     display: none;
 }

nav {
    margin-left: auto;
    margin-right: 48px;
}

 nav ul {
     list-style: none;
     display: flex;   
 }

 li a {
     text-decoration: none;
     color: black;
     display: flex;
     float: right;
     margin: 16px;
     text-align: center;
 }

 /* .mobile-header  */

/* Start Here Section */
 #starthere { 
    background-color: rgb(214, 214, 214);
    top:64px;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    
}
 .left-image1 {
     width: 60%;
 }

.left-image1 img {
    width: 100%;
    margin: 32px;

}

.right-text {
    display: flex;
    margin: 32px;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 100px 20px;
}

button {
    background-color: #222222;
    padding: 16px;
    border: 1px solid #222222;
    color: white;
    width: 100%;
}
/* Mobile Start Here Section */

/* About Section */
#about { 
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    padding: 64px 0;
    
}

.left-image2 {
    width: 60%;
    padding: 32px 24px;
    
}

.left-image2 img {
   width: 100%;
   
}

.right-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 18px;
    margin-right: 40px;
}

.column {
    padding: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column img {
    width: 100%;
    height: auto;
}

.about-images { 
    width: 35%;
    height: auto;
}

#lecture {
    background-color:rgb(214, 214, 214);
}

.about-text {
    width: 65%;
    padding: 0 16px;
}

.about-text a {
    color: rgb(90, 146, 168);
    text-decoration: none;
}




/* Start Learning Section */

/* Thesis Exhibit Section */

/* Footer Section */