/* Universal styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #222222;
}

/* Header Section */
.desktop-header { 
    display: flex;
    position: fixed;
    height: 64px;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: white;
    Top: 0;
    background-color: white;
}

.desktop-header img {
    height: 40px;
}

.desktop-header h1 {
    text-transform: uppercase;
    font-size: 24px;
}
.desktop-header h1 span {
     font-weight: normal;
     color: grey;
 }

nav {
    margin-left: auto;
    margin-right: 48px;
}

 nav ul {
     list-style: none;
     display: flex;   
 }

 li a {
     text-decoration: none;
     color: black;
     display: flex;
     float: right;
     margin: 16px;
     text-align: center;
 }

 /* .mobile-header  */
.mobile-header {
    display: none;
}


/* Start Here Section */
 #starthere { 
    background-color: rgb(214, 214, 214);
    background-size: cover;
    top:64px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
 .left-image1 {
     width: 60%;
 }

.left-image1 img {
    width: 100%;
    margin: 32px;

}

.right-text {
    display: flex;
    margin: 32px;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 100px 20px;
}

button {
    background-color: #222222;
    padding: 16px;
    border: 1px solid #222222;
    color: white;
    width: 100%;
}
/* Mobile Start Here Section */

/* About Section */
#about { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 64px 0;
}

.left-image2 {
    width: 60%;
    padding: 32px 24px;
}

.left-image2 img {
   width: 100%;
}

.right-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 18px;
    margin-right: 40px; 
}

.column {
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.column img {
    width: 100%;
    height: auto;
}

.block-images { 
    width: 35%;
    height: auto;
}

#grey {
    background-color:rgb(214, 214, 214);
}

.block-text {
    width: 65%;
    padding: 0 16px;
}

.block-text a {
    color: rgb(90, 146, 168);
    text-decoration: none;
}

/* Mobile About Section */

/* Start Learning Section */
#h2start {
    background-color:rgb(233, 233, 233) ;
    padding: 32px;
    /* width: 1200px; */
    margin-bottom: 0;
    text-align: center;
}

#startlearning {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column; 
    background-color: rgb(233, 233, 233);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 280;
}



.courses {
    width: 30%;
    background-color: white;
    margin: 16px 12px 
}

.courses img { 
    width: 100%;
    height: auto;
}

.courses span { 
    text-transform: uppercase;
}

#catalog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 32px 32px 32px;
}

.information {
    padding: 16px;
}

/* Mobile Start Learning Section */

/* Thesis Exhibit Section */
#h2thesis {
    padding: 32px;
    padding-bottom: 0;
    /* width: 1200px; */
    text-align: center;
}

#thesis {
    display: flex;
    justify-content: center;
    /* width: 1200px; */
    align-items: flex-start;
    padding: 32px 0; 
}

.left-image3 {
    width: 60%;
    padding: 0 24px 32px 24px;
}

.movie video { 
    width: 100%;
}

/* Mobile Thesis Section */

/* Footer Section */
footer {
    display: flex;
    justify-content: stretch;
    border-top: 1px solid rgb(233, 233, 233);
}

#copyright {
    color: grey;
    text-align: left;
    margin-left: 24px;
    margin-right: auto;
    padding-top: 16px;
}

#terms{
    color: grey;
    text-align: right;
    margin-right: 24px;
    padding-top: 16px;
}

/* Mobile Footer Section */